{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="w3-display-topleft" style="width:150px">
<ul class="w3-ul w3-border w3-light-blue w3-border-light-blue w3-card-2">
  <li class="w3-center w3-border-white"><h4>Participants</h4></li>
  <li class="w3-border-0">Baptiste<i class="fa fa-star w3-right"> 0</i></li>
  <li class="w3-border-0">Juliette<i class="fa fa-star w3-right"> 0</i></li>
  <li class="w3-border-0">Léa<i class="fa fa-star w3-right"> 0</i></li>
  <li class="w3-border-0">Margot<i class="fa fa-star w3-right"> 0</i></li>
  <li class="w3-border-0">Sylvain<i class="fa fa-star w3-right"> 0</i></li>
</ul>
</div>

<div class="w3-container w3-center w3-teal" style="height:80px">
  <h3 class="w3-right w3-xxlarge">{{user.flouze}} <img src="https://cdn-icons-png.flaticon.com/512/217/217853.png" class="w3-round" style="width:42px" alt="Coin"></h3>
</div>
<div class="w3-container w3-center">
<form method="POST">
<button type="submit" class="w3-button w3-xlarge w3-circle w3-red w3-card-4 w3-margin" name="increment" value="increment">+</button>
</form>
</div>

<div id="card2" class="w3-card-4 w3-display-middle w3-center" style="width:80%;">
<header class="w3-container w3-teal">
    <h4>Choisissez un nombre</h4>
</header>
<span class="w3-badge w3-xlarge w3-lime w3-margin-top w3-padding w3-hover-dark-gray">1</span>
<span class="w3-badge w3-xlarge w3-amber w3-margin-top w3-padding w3-hover-dark-gray">2</span>
<span class="w3-badge w3-xlarge w3-red w3-margin-top w3-padding w3-hover-dark-gray">3</span>
<span class="w3-badge w3-xlarge w3-blue w3-margin-top w3-padding w3-hover-dark-gray">4</span>
<span class="w3-badge w3-xlarge w3-grey w3-margin-top w3-padding w3-hover-dark-gray">5</span>
<p><button class="w3-button w3-teal">Valider</button></p>
</div>

<div class="w3-card-4 w3-display-middle w3-center" style="width:80%;">
<header class="w3-container w3-teal">
    <h4>Combien de tiquets voulez-vous mettre en jeu ?</h4>
</header>
<select class="w3-select w3-border w3-margin" style="width:50%;" name="option">
<option value="" disabled="" selected="">Nombre de tickets</option>
<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
</select>
<button onclick="this.parentElement.style.display='none'" class="w3-button w3-teal">Valider</button>
</div>

<div class="w3-container w3-display-bottommiddle w3-center">
  <p>Léa vous a donné <strong>123</strong> <img src="https://cdn-icons-png.flaticon.com/512/217/217853.png" class="w3-round" style="width:20px" alt="Coin"></p>
  <p>vous avez choisis 20 tickets</p>
</div>
<!-- <ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form> -->
{% endblock %}
