{% extends "base+etoiles.jinja" %}
{% block don_header %}

<div class="w3-center" style="margin-left:115px">
<form method="GET" action="faire_un_don">
<button type="submit" class="w3-btn w3-round-large w3-margin w3-red w3-border medium">Faire un don</button>
</form>
<button onclick="document.getElementById('history').style.display='block'" class="w3-button w3-circle medium w3-text-white" style="background-color:{{ config["theme_colors"][0] }}"><i class="fa fa-history"></i></button>
</div>

<div id="history" class="w3-modal">
  <div class="w3-modal-content w3-padding scroll">
    <span onclick="document.getElementById('history').style.display='none'" class="w3-button w3-display-topright">&times;</span>
    {% for time, _, msg in player.messages %}
    {{time.strftime('%H:%M : ') + msg}}
    {% endfor %}
  </div>
</div>

{% endblock %}
