<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="prefetch" href="{{ url_for("static", filename="images/6.jpg") }}" as ="image">
    <link rel="prefetch" href="{{ url_for("static", filename="images/7.jpg") }}" as ="image">
    <link rel="prefetch" href="{{ url_for("static", filename="images/8.jpg") }}" as ="image">
    <link rel="prefetch" href="{{ url_for("static", filename="images/9.jpg") }}" as ="image">
    <link rel="prefetch" href="{{ url_for("static", filename="images/10.jpg") }}" as ="image">
    <link rel="prefetch" href="{{ url_for("static", filename="animations/Jeu1.sozi.html") }}" as ="document">
    <link rel="prefetch" href="{{ url_for("static", filename="animations/Jeu2.sozi.html") }}" as ="document">
    <link rel="prefetch" href="{{ url_for("static", filename="animations/Jeu3.sozi.html") }}" as ="document">
    <link rel="prefetch" href="{{ url_for("static", filename="animations/Jeu4.sozi.html") }}" as ="document">
    <link rel="prefetch" href="{{ url_for("static", filename="animations/Jeu5.sozi.html") }}" as ="document">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2">
    <link rel="stylesheet" href="{{ url_for("static", filename="flouze.css") }}" type="text/css">
    <link rel = "icon" href ="{{ url_for('static', filename="images/coin.png") }}" type="image/x-icon">
    <style>
    body {
      background-image: url({{ url_for("static", filename="images/2.jpg") }});
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    </style>
    <title>Home</title>
  </head>

<body>

{% block content %} {% endblock %}

<div id="messages" class="toast">
{% for category, message in get_flashed_messages(with_categories=true) %}
  {% if category == "error" %}
  <div class="w3-pale-red w3-round-large w3-border w3-border-red w3-padding-small" style="display:flex; justify-content:space-between; align-items:center; margin-bottom:5px; margin-left: 5px; margin-right: 5px;">
    <i class="fa fa-exclamation-circle w3-text-red" style="margin-right: 6px;"></i>
    <div class="w3-center">{{ message }}</div>
    <span onclick="this.parentElement.style.display='none'" class="w3-hover-gray w3-center w3-round-large" style="width: 25px; position:relative; left:3px">&times;</span>
  </div>
  {% else %}
<div class="w3-pale-green w3-round-large w3-border w3-border-green w3-padding-small" style="display:flex; justify-content:space-between; align-items:center; margin-bottom:5px; margin-left: 5px; margin-right: 5px;">
  <i class="fa fa-info-circle w3-text-green" style="margin-right: 6px;"></i>
  <div class="w3-center">{{ message }}</div>
  <span onclick="this.parentElement.style.display='none'" class="w3-hover-gray w3-center w3-large w3-round-large" style="width: 25px; position:relative; left:3px">&times;</span>
</div>
  {% endif %}
{% endfor %}

{% for message_id, message in player.messages_to_show %}
  <div class="w3-pale-green w3-round-large w3-border w3-border-green w3-padding-small" style="display:flex; justify-content:space-between; align-items:center; margin-bottom:5px; margin-left: 5px; margin-right: 5px;">
    <i class="fa fa-info-circle w3-text-green" style="margin-right: 6px;"></i>
    <div class="w3-center">{{ message }}</div>
    <span onclick="this.parentElement.style.display='none'; hide_message({{message_id}});" class="w3-hover-gray w3-center w3-large w3-round-large" style="width: 25px; position:relative; left:3px">&times;</span>
  </div>
{% endfor %}
</div>

<script type="text/javascript" charset="utf-8">
var socket = io();
socket.on('refresh', function() {
    window.location = window.location;
});
</script>
</body>
</html>
