{% extends "base+don.html" %} {% block title %}Flouze - Jeu 1{% endblock %} {% block content
%}

<div class="w3-card-4 w3-center w3-white animate__animated animate__fadeIn" style="max-width:450px; width:90%; min-width:310px;">
<header class="w3-text-white w3-padding medium" style="background-color:{{theme_color}}">
    Combien de tiquets voulez-vous mettre en jeu ?
</header>
<form method="POST">
<select class="w3-select w3-border w3-margin w3-large" style="width:180px;" id="tickets" name="tickets">
<option value="" disabled="" selected="">Nombre de tickets</option>
<option value="0">Aucun ticket</option>
<option value="1">1 ticket</option>
<option value="2">2 tickets</option>
<option value="3">3 tickets</option>
<option value="4">4 tickets</option>
<option value="5">5 tickets</option>
<option value="6">6 tickets</option>
<option value="7">7 tickets</option>
<option value="8">8 tickets</option>
<option value="9">9 tickets</option>
<option value="10">10 tickets</option>
<option value="11">11 tickets</option>
<option value="12">12 tickets</option>
<option value="13">13 tickets</option>
<option value="14">14 tickets</option>
<option value="15">15 tickets</option>
<option value="16">16 tickets</option>
<option value="17">17 tickets</option>
<option value="18">18 tickets</option>
<option value="19">19 tickets</option>
<option value="20">20 tickets</option>
</select>
<button type="submit" class="w3-button w3-large" style="background-color:{{theme_color}}" name="boutton" value="jeu1-choix">Valider</button></form>
</div>

{% endblock %}
