{% set game = engine.current_game %}
{% set config = game.config %}
{% extends "base.jinja" %}
{% block title %}Flouze - Jeu 2{% endblock %}
{% block content %}

<div id="card2" class="w3-card-4 w3-center w3-white animate__animated animate__fadeIn">
<header class="w3-text-white large w3-padding" style="background-color:{{ config["theme_colors"][0] }}">
    Choisissez un nombre
</header>
<form method="POST">
  <div class="w3-margin w3-lobster">
    {% for choice in range(1, 6) %}
      <label class="circle w3-hover-opacity"><input type="radio" name="choice" value={{ choice }} onchange="update_choice(this)"/>{{ choice }}</label>
    {% endfor %}
  </div>
  <p><button name="jeu2" type="submit" class="w3-button w3-text-white" style="background-color:{{ config["theme_colors"][0] }}">Valider</button></p>
  </form>
</div>

{% endblock %}
{% block additionnal_script %}
    function update_choice(obj) {
      if (typeof prev != 'undefined') 
        prev.parentNode.classList.remove('checked');
      obj.parentNode.classList.add('checked');
      prev = obj;
    }
{% endblock %}
