{% set game = engine.current_game %}
{% set config = game.config %}
{% set reveal_state = game.current_reveal_state %}
{% extends "base.jinja" %}
{% block title %}Flouze - Jeu 2{% endblock %}
{% block content %}

<div class="w3-center contrainte_reveal animate__animated animate__fadeIn" style="display:flex; justify-content:center; align-items:center; flex-wrap:wrap; gap:20px">
  {% for id in game.current_permutation %}
  <div class="flip-card card-size">
    <div id="card{{ id }}" {% if reveal_state[id] %} style="transform: rotateY(180deg)" {% endif %} class="flip-card-inner">
      <div class="flip-card-front theme-light-2">
      </div>
      <div class="flip-card-back theme-light-2 flex-vertical center-items space-around">
        <div class="circle-big w3-lobster w3-xxlarge w3-text-white theme-dark-2">{{ engine.players[id].choice }}</div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
{% block additionnal_script %}
    socket.on('reveal_card', function(card_id) {
        var card = document.getElementById('card' + card_id);
        if (card != null) {
          card.style.transform = "rotateY(180deg)";
        }
    });
{% endblock %}

