{% set game = engine.current_game %}
{% set config = game.config %}
{% set reveal_state = game.current_reveal_state %}
{% extends "base.jinja" %}
{% block title %}Flouze - Jeu 2{% endblock %}
{% block content %}

<div class="w3-center contrainte_reveal animate__animated animate__fadeIn" style="display:flex; justify-content:center; align-items:center; flex-wrap:wrap; gap:20px">
  {% for player_it in engine.players %}
  <div class="flip-card card-size">
    <div id="card{{ loop.index0 }}" {% if reveal_state[loop.index0] %} style="transform: rotateY(180deg)" {% endif %} class="flip-card-inner">
      <div class="flip-card-front" style="background-color:{{ player_it.color["primary"] }};">
        <b class="large w3-padding">{{ player_it.name }}</b>
      </div>
      <div class="flip-card-back" style="background-color:{{ player_it.color["primary"] }};">
        <b class="large w3-padding">{{ player_it.name }}</b>
        <div class="w3-display-container" style="height:50px;">
          <div class="circle-big w3-lobster w3-xxlarge w3-display-middle w3-text-white" style="background-color:{{ player_it.color["secondary"] }};">{{ player_it.choice }}</div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
{% block additionnal_script %}
    socket.on('reveal_card', function(card_id) {
        var card = document.getElementById('card' + card_id);
        if (card != null) {
          card.style.transform = "rotateY(180deg)";
        }
    });
{% endblock %}

