{% extends "base.html" %} {% block title %}Flouze - Jeu 3{% endblock %} {% block content
%}

<form class="w3-card-4 w3-display-middle w3-center w3-white">
<header class="w3-container w3-teal">
    <h4>Combien shouaitez vous investir ?</h4>
</header>
<p><input class="w3-input w3-border w3-round-large w3-center" placeholder="Montant" name="last" type="text" style="width:100px; display:inline-block;"></p>
<button onclick="this.parentElement.style.display='none'" class="w3-button w3-teal">Valider</button>
<p>
</form>

{% endblock %}
