{% set game = engine.current_game %}
{% set config = game.config %}
{% set prizes = engine.current_game.current_prizes %}
{% extends "base+don.jinja" %} {% block title %}Flouze - Jeu 4{% endblock %} {% block content
%}

<div id="card2" class="w3-card-4 w3-center w3-white w3-text-white animate__animated animate__fadeIn contrainte">
<header class="medium w3-padding" style="background-color:{{ config["theme_colors"][0] }}">
    Choisissez un prix
</header>
<form method="POST">
  <div class="w3-margin" style="display:flex; justify-content:center; align-items:center; flex-wrap:wrap; gap:12px">
    {% for prize in prizes %}
      {% if player.choice == loop.index0 %}
        {% if prize == "star" %}
          {% if loop.index0 == 3 %}
            <div class="w3-card w3-xlarge w3-padding-small w3-light-gray w3-text-teal" style="white-space:nowrap;"><i class="fa fa-star"></i></div>
          {% else %}
            <div class="w3-card w3-xlarge w3-padding-small w3-light-gray" style="white-space:nowrap;"><i class="fa fa-star"></i></div>
          {% endif %}
        {% else %}
        <div class="w3-card w3-xlarge w3-padding-small w3-light-gray" style="white-space:nowrap;">{{ prize }} <img src="/static/images/coin.png" style="width:25px" alt="Coin"></div>
        {% endif %}
      {% else %}
        {% if prize == "star" %}
          {% if loop.index0 == 3 %}
            <button type="submit" name="boutton" value={{ loop.index0 }} class="w3-border-0 w3-card w3-xlarge w3-padding-small w3-hover-opacity w3-white w3-text-teal" style="white-space:nowrap;"><i class="fa fa-star"></i></button>
          {% else %}
            <button type="submit" name="boutton" value={{ loop.index0 }} class="w3-border-0 w3-card w3-xlarge w3-padding-small w3-hover-opacity w3-white" style="white-space:nowrap;"><i class="fa fa-star"></i></button>
          {% endif %}
        {% else %}
        <button type="submit" name="boutton" value={{ loop.index0 }} class="w3-border-0 w3-card w3-xlarge w3-padding-small w3-hover-opacity w3-white" style="white-space:nowrap;">{{ prize }} <img src="/static/images/coin.png" style="width:25px" alt="Coin"></button>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  <p><button type="submit" name="boutton" value="Jeu4-choix" class="w3-button w3-large" style="background-color:{{ config["theme_colors"][0] }}">Valider</button></p>
</form>
</div>

{% endblock %}
