{% set game = engine.current_game %}
{% set config = game.config %}
{% set prizes = game.current_prizes %}
{% set reveal_state = game.current_reveal_state %}
{% extends "base.jinja" %}
{% block title %}Flouze - Jeu 4{% endblock %}
{% block content %}

<div class="w3-center contrainte_reveal animate__animated animate__fadeIn" style="display:flex; justify-content:center; align-items:center; flex-wrap:wrap; gap:20px">
  {% for player_it in engine.players %}
    <div class="flip-card card-size">
      <div id="card{{ loop.index0 }}" {% if reveal_state[loop.index0] %} style="transform: rotateY(180deg)" {% endif %} class="flip-card-inner">
        <div class="flip-card-front" style="background-color:{{ player_it.color["primary"] }};">
          <b class="large w3-padding">{{ player_it.name}}</b>
        </div>
        <div class="flip-card-back" style="background-color:{{ player_it.color["primary"] }};">
          <b class="large w3-padding">{{ player_it.name }}</b>
        {% if prizes[player_it.choice] == "star" %}
        <div class="large w3-margin padding-reveal {% if player_it.choice == 3 %} w3-text-teal {% else %} w3-text-white {% endif %}" style="background-color:{{ player_it.color["secondary"] }}; position:relative; bottom:4px"><i class="fa fa-star"></i></div>
        {% else %}
        <div class="large w3-margin w3-text-white padding-reveal" style="background-color:{{ player_it.color["secondary"] }}; position:relative; bottom:4px">{{ prizes[player_it.choice] }} <img src="/static/images/coin.png" class="coin-medium" alt="Coin"></div>
        {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
{% block additionnal_script %}
    socket.on('reveal_card', function(card_id) {
        var card = document.getElementById('card' + card_id);
        if (card != null) {
          card.style.transform = "rotateY(180deg)";
        }
    });
{% endblock %}}
