{% extends "base+don.html" %} {% block title %}Flouze - Jeu 4{% endblock %} {% block content
%}
<div class="w3-display-middle w3-center animate__animated animate__fadeIn" style="width:320px;">
  <div class="w3-margin-bottom" style="display:flex; justify-content:space-between;">
  
	{% for i in range(2) %}
    <div class="flip-card" style="width:150px; height:120px;">
      <div id="card{{i}}" {% if gameState['reveal'][i] %} style="transform: rotateY(180deg)" {% endif %} class="flip-card-inner">
        <div class="flip-card-front" style="background-color:{{players[i]['color']}};">
          <h4><b>{{players[i]["name"]}}</b></h4>
        </div>
        <div class="flip-card-back" style="background-color:{{players[i]['color']}};">
          <h4><b>{{players[i]["name"]}}</b></h4>
			{% if page['prize'][gameState["game4_bonus"]][players[i]["choix"]] == "star" %}
			  {% if players[i]["choix"] == 3 %}
				<div class="w3-xlarge w3-padding w3-margin w3-text-teal" style="background-color:{{players[i]['secColor']}}"><i class="fa fa-star"></i></div>
			  {% else %}
				<div class="w3-xlarge w3-padding w3-margin w3-text-white" style="background-color:{{players[i]['secColor']}}"><i class="fa fa-star"></i></div>
			  {% endif %}
			{% else %}
			<div class="w3-xlarge w3-padding w3-margin w3-text-white" style="background-color:{{players[i]['secColor']}}">{{page['prize'][gameState["game4_bonus"]][players[i]["choix"]]}} <img src="/static/images/coin.png" style="width:22px" alt="Coin"></div>
			{% endif %}
        </div>
      </div>
    </div>
	{% endfor %}
	
  </div>
  <div class="w3-margin-bottom" style="display:flex; justify-content:space-between;">
  
    {% for i in range(2) %}
    <div class="flip-card" style="width:150px; height:120px;">
      <div id="card{{i+2}}" {% if gameState['reveal'][i+2] %} style="transform: rotateY(180deg)" {% endif %} class="flip-card-inner">
        <div class="flip-card-front" style="background-color:{{players[i+2]['color']}};">
          <h4><b>{{players[i+2]["name"]}}</b></h4>
        </div>
        <div class="flip-card-back" style="background-color:{{players[i+2]['color']}};">
          <h4><b>{{players[i+2]["name"]}}</b></h4>
			{% if page['prize'][gameState["game4_bonus"]][players[i+2]["choix"]] == "star" %}
			  {% if players[i+2]["choix"] == 3 %}
				<div class="w3-xlarge w3-padding w3-margin w3-text-teal" style="background-color:{{players[i+2]['secColor']}}"><i class="fa fa-star"></i></div>
			  {% else %}
				<div class="w3-xlarge w3-padding w3-margin w3-text-white" style="background-color:{{players[i+2]['secColor']}}"><i class="fa fa-star"></i></div>
			  {% endif %}
			{% else %}
			<div class="w3-xlarge w3-padding w3-margin w3-text-white" style="background-color:{{players[i+2]['secColor']}}">{{page['prize'][gameState["game4_bonus"]][players[i+2]["choix"]]}} <img src="/static/images/coin.png" style="width:22px" alt="Coin"></div>
			{% endif %}
        </div>
      </div>
    </div>
	{% endfor %}
	
  </div>
  <div style="display:flex; justify-content:space-around;">
    <div class="flip-card" style="width:150px; height:120px;">
      <div id="card{{4}}" {% if gameState['reveal'][4] %} style="transform: rotateY(180deg)" {% endif %} class="flip-card-inner">
        <div class="flip-card-front" style="background-color:{{players[4]['color']}};">
          <h4><b>{{players[i]["name"]}}</b></h4>
        </div>
        <div class="flip-card-back" style="background-color:{{players[4]['color']}};">
          <h4><b>{{players[4]["name"]}}</b></h4>
			{% if page['prize'][gameState["game4_bonus"]][players[4]["choix"]] == "star" %}
			  {% if players[4]["choix"] == 3 %}
				<div class="w3-xlarge w3-padding w3-margin w3-text-teal" style="background-color:{{players[4]['secColor']}}"><i class="fa fa-star"></i></div>
			  {% else %}
				<div class="w3-xlarge w3-padding w3-margin w3-text-white" style="background-color:{{players[4]['secColor']}}"><i class="fa fa-star"></i></div>
			  {% endif %}
			{% else %}
			<div class="w3-xlarge w3-padding w3-margin w3-text-white" style="background-color:{{players[4]['secColor']}}">{{page['prize'][gameState["game4_bonus"]][players[4]["choix"]]}} <img src="/static/images/coin.png" style="width:22px" alt="Coin"></div>
			{% endif %}
        </div>
      </div>
    </div>
</div>

{% endblock %}