{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}

<div class="w3-card w3-display-middle w3-white" style="width:70%;">
    <div class="w3-container w3-green">
      <h2 class="w3-center">Qui est-tu ?</h2>
    </div>

    <form class="w3-container" method="POST">
      <p>
      <input type="text" class="w3-input" id="firstName" name="firstName">
      <label>Prénom</label></p>
      <p>
      <input type="password" class="w3-input" id="password" name="password">
      <label>Mot de passe</label></p>
      <p class="w3-center"><button type="submit" class="w3-btn w3-blue-grey">Se connecter</button></p>
    </form>
  </div>
{% endblock %}
