<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    </style>
    <title>Flouze-Admin</title>
  </head>
<body>
  <div class="container" style="display:flex; justify-content:space-around;">
    <div class="container w3-lime w3-center w3-margin" style="flex-grow:1;">
      <p class="w3-xlarge"><b>{{players[0]["name"]}}</b></p>
      <p class="w3-xlarge"><i class="fa fa-star"> {{players[0]["stars"]}}</i></p>
      <p class="w3-xlarge">{{players[0]["flouze"]}} <img src="{{url_for('static', filename="images/coin.png")}}" style="width:28px" alt="Coin"></p>
      <p class="w3-xlarge">{{players[0]["choix"]}}</p>
      <p class="w3-large">{{players[0]["message"]}}</p>
    </div>
    <div class="container w3-orange w3-center w3-margin" style="flex-grow:1;">
      <p class="w3-xlarge"><b>{{players[1]["name"]}}</b></p>
      <p class="w3-xlarge"><i class="fa fa-star"> {{players[1]["stars"]}}</i></p>
      <p class="w3-xlarge">{{players[1]["flouze"]}} <img src="{{url_for('static', filename="images/coin.png")}}" style="width:28px" alt="Coin"></p>
      <p class="w3-xlarge">{{players[1]["choix"]}}</p>
      <p class="w3-large">{{players[1]["message"]}}</p>
    </div>
    <div class="container w3-indigo w3-center w3-margin" style="flex-grow:1;">
      <p class="w3-xlarge"><b>{{players[2]["name"]}}</b></p>
      <p class="w3-xlarge"><i class="fa fa-star"> {{players[2]["stars"]}}</i></p>
      <p class="w3-xlarge">{{players[2]["flouze"]}} <img src="{{url_for('static', filename="images/coin.png")}}" style="width:28px" alt="Coin"></p>
      <p class="w3-xlarge">{{players[2]["choix"]}}</p>
      <p class="w3-large">{{players[2]["message"]}}</p>
    </div>
    <div class="container w3-cyan w3-center w3-margin" style="flex-grow:1;">
      <p class="w3-xlarge"><b>{{players[3]["name"]}}</b></p>
      <p class="w3-xlarge"><i class="fa fa-star"> {{players[3]["stars"]}}</i></p>
      <p class="w3-xlarge">{{players[3]["flouze"]}} <img src="{{url_for('static', filename="images/coin.png")}}" style="width:28px" alt="Coin"></p>
      <p class="w3-xlarge">{{players[3]["choix"]}}</p>
      <p class="w3-large">{{players[3]["message"]}}</p>
    </div>
    <div class="container w3-amber w3-center w3-margin" style="flex-grow:1;">
      <p class="w3-xlarge"><b>{{players[4]["name"]}}</b></p>
      <p class="w3-xlarge"><i class="fa fa-star"> {{players[4]["stars"]}}</i></p>
      <p class="w3-xlarge">{{players[4]["flouze"]}} <img src="{{url_for('static', filename="images/coin.png")}}" style="width:28px" alt="Coin"></p>
      <p class="w3-xlarge">{{players[4]["choix"]}}</p>
      <p class="w3-large">{{players[4]["message"]}}</p>
    </div>
  </div>
  <form class="w3-center" method="POST">
    <p>Page actuelle : {{pages[iterator]}}</p>
    <p><button type="submit" class="w3-button w3-blue" name="boutton" value="page précedente">Page précedante</button>
      <button type="submit" class="w3-button w3-blue" name="boutton" value="page suivante">Page suivante</button></p>
  </form>
  <div class="w3-center">
    bonus : {{bonus}}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
   <script type="text/javascript" charset="utf-8">
     var socket = io();
     socket.on('changed', function() {
         window.location = window.location;
     });
   </script>

  </body>
</html>
