{% set game = engine.current_game %}
{% set page = engine.current_page %}
{% set stage = engine.current_stage %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2">
  <link rel="stylesheet" href="{{ url_for("static", filename="flouze.css" ) }}" type="text/css">
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'Baloo 2', cursive;
    }
  </style>
  <link rel="icon" href="{{ url_for("static", filename="images/coin.png" ) }}" type="image/x-icon">
  <title>Flouze-Recap</title>
</head>

<body>
  <div class="recap-div w3-light-grey">
    <h1>Recap of the game</h1>
  </div>

  <div class="recap-div w3-white">
    <div class="recap-subdiv">
      <h2>Game 1</h2>
      <p class="recap-txt">
        In the first game the participants had to chose a number of lottery tickets (between 0 and 10).
        From all the tickets chosen, 1 is randomly selected and the owner winns the lottery.
        Hoever the winners lot is divided by the total amount of tickets chosen by all players.
        3 rounds were played and the winner of the last round is granted 1 Star in addition to the money.
      </p>
      <p class="recap-txt" style="width:100%">Money avalable at each round:</p>
      <div class="flex-horizontal space-around w3-xlarge" style="width:100%">
        <div class="w3-show-inline-block w3-light-grey w3-padding">Round 1 : <b>{{ engine.games[1].config["prizes"][0] }}</b> <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin"></div>
        <div class="w3-show-inline-block w3-light-grey w3-padding">Round 2 : <b>{{ engine.games[1].config["prizes"][1] }}</b> <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin"></div>
        <div class="w3-show-inline-block w3-light-grey w3-padding">Round 3 : <b>{{ engine.games[1].config["prizes"][2] }}</b> <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin"> + <i class="fa fa-star"></i></div>
      </div>
      <p>(winner gets the amount <b>divided</b> by the total amount of tickets)</p>
      <p class="recap-txt">
        The following table shows the amount of tickets chosen by each player at each round. The cell colored in green is the winner of each round.
      </p>
      <table class="w3-table w3-striped w3-xlarge w3-centered">
        <tr>
          <th>Participants</th>
          <th>Round 1</th>
          <th>Round 2</th>
          <th>Round 3</th>
        </tr>
        {% for player in engine.players %}
          <tr>
            <td>{{player.name}}</td>
            {% for i in range(3) %}
              <td {% if engine.games[1].winners[i][0] == player %} class="green-light" {% endif %}>{{engine.games[1].choices[i][player.ID]}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <p class="recap-txt" style="width:100%">
        In the first round {{engine.games[1].winners[0][0].name}} won {{engine.games[1].winners[0][1]}} <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin"> ({{ engine.games[1].config["prizes"][0] }}/{{ engine.games[1].choices[i]|sum }}).<br>
        In the second round {{engine.games[1].winners[1][0].name}} won {{engine.games[1].winners[1][1]}} <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin"> ({{ engine.games[1].config["prizes"][1] }}/{{ engine.games[1].choices[i]|sum }}).<br>
        In the third round {{engine.games[1].winners[2][0].name}} won {{engine.games[1].winners[2][1]}} <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin"> ({{ engine.games[1].config["prizes"][2] }}/{{ engine.games[1].choices[i]|sum }}). In addition to that, he is granted a Star.
      </p>
    </div>
  </div>

  <div class="recap-div w3-light-grey">
    <div class="recap-subdiv">
      <h2>Game 2</h2>
      <p class="recap-txt">
        In the second game the participants had to chose a number between 1 and 5.
        The winner is the person that chooses the lowest number that has not been chosen by somone else.
        He will earn the lot money multiplied by the number he chose.
        3 rounds were played and the winner of the last round is granted 2 Star in addition to the money.
      </p>
      <p class="recap-txt" style="width:100%">Money avalable at each round:</p>
      <div class="flex-horizontal space-around w3-xlarge" style="width:100%">
        <div class="w3-show-inline-block w3-white w3-padding">Round 1 : <b>{{ engine.games[2].config["prizes"][0] }}</b> <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin"></div>
        <div class="w3-show-inline-block w3-white w3-padding">Round 2 : <b>{{ engine.games[2].config["prizes"][1] }}</b> <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin"></div>
        <div class="w3-show-inline-block w3-white w3-padding">Round 3 : <b>{{ engine.games[2].config["prizes"][2] }}</b> <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin"> + <i class="fa fa-star"></i><i class="fa fa-star"></i></div>
      </div>
      <p>(winner gets the amount <b>multiplied</b> by the number he chose)</p>
      <p class="recap-txt">
        The following table shows the numbers chosen by each player at each round. The cell colored in green is the winner of each round.
      </p>
      <table class="w3-table w3-striped2 w3-xlarge w3-centered">
        <tr>
          <th>Participants</th>
          <th>Round 1</th>
          <th>Round 2</th>
          <th>Round 3</th>
        </tr>
        {% for player in engine.players %}
          <tr>
            <td>{{player.name}}</td>
            {% for i in range(3) %}
              <td {% if engine.games[2].winners[i][0] == player %} class="green-light" {% endif %}>{{engine.games[2].choices[i][player.ID]}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <p class="recap-txt" style="width:100%">
        In the first round {{engine.games[2].winners[0][0].name}} won {{engine.games[2].winners[0][1]}} <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin"> ({{ engine.games[2].config["prizes"][0] }}*{{engine.games[2].choices[0][engine.games[2].winners[0][0].ID]}}).<br>
        In the second round {{engine.games[2].winners[1][0].name}} won {{engine.games[2].winners[1][1]}} <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin"> ({{ engine.games[2].config["prizes"][1] }}*{{engine.games[2].choices[1][engine.games[2].winners[1][0].ID]}}).<br>
        In the third round {{engine.games[2].winners[2]}} won {{engine.games[2].winners[2][1]}} <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin"> ({{ engine.games[2].config["prizes"][2] }}*engine.games[2].choices[2][engine.games[2].winners[2][0].ID]). In addition to that, he is granted 2 Stars.
      </p>
    </div>
  </div>

  <div class="recap-div w3-white">
    <div class="recap-subdiv">
      <h2>Game 3</h2>
      <p class="recap-txt">
        For the third game, all participants have the same amount of money : {{engine.games[3].config["total_initial_flouze"]//engine.players|length}} <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin">.
        The rest of their money is set aside and will be returned at the end of the game.
        At each of the 3 rounds, the players can invest whatever amount of money they have in a common pot.
        Then, a certain percentage of the total amount is added to the common pot by the bank.
        Finally the total amount with the bonus is shared equally between all participants.
        The person that made the most money during the 3 rounds is granted 2 Stars.
      </p>
      <p class="recap-txt" style="width:100%">Percentage added by the bank at each round:</p>
      <div class="flex-horizontal space-around w3-xlarge" style="width:100%">
        <div class="w3-show-inline-block w3-light-grey w3-padding">Round 1 : <b>{{ ((engine.games[3].config["interests"][0]-1)*100)|round|int }}%</b></div>
        <div class="w3-show-inline-block w3-light-grey w3-padding">Round 2 : <b>{{ ((engine.games[3].config["interests"][1]-1)*100)|round|int }}%</b></div>
        <div class="w3-show-inline-block w3-light-grey w3-padding">Round 3 : <b>{{ ((engine.games[3].config["interests"][2]-1)*100)|round|int }}%</b></div>
      </div>
      <p class="recap-txt">The player That makes the most benefit during the 3 rounds wins <i class="fa fa-star"></i><i class="fa fa-star"></i></p>
      <p class="recap-txt">
        The following table shows the amount invested by each player at each round. The value in parenthesis is the porportion of their total money. The last column show the net benefit each player made during the 3 rounds and the cell colored in green is the largest benefit.
      </p>
      <table class="w3-table w3-striped w3-xlarge w3-centered">
        <tr>
          <th>Participants</th>
          <th>Round 1</th>
          <th>Round 2</th>
          <th>Round 3</th>
          <th>Benefits</th>
        </tr>
        {% for player in engine.players %}
          <tr>
            <td>{{player.name}}</td>
            <td>{{engine.games[3].choices[0][player.ID]}} <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin"></td>
            <td>{{engine.games[3].choices[1][player.ID]}} <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin"></td>
            <td>{{engine.games[3].choices[2][player.ID]}} <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin"></td>
            <td {% if engine.games[3].winners[2] == player %} class="green-light" {% endif %}>{{engine.games[3].real_gain[player.ID]}} <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin"></td>
          </tr>
        {% endfor %}
      </table>
      <p class="recap-txt" style="width:100%">
        {{engine.games[3].winners[2].name}} made the most money during the 3 rounds and therefore gets 2 stars.
      </p>
    </div>
  </div>

  <div class="recap-div w3-light-grey">
    <div class="recap-subdiv">
      <h2>Game 4</h2>
      <p class="recap-txt">
        In the fourth game each participant has to choose one of {{ engine.players|length }} prizes.
        A player gets his prize only if he is the only one that chose this prize otherwise he gets nothing.
        If all prizes are delivered i.e. all participants chose a different prize, then a bonus is applied to the prizes at the next round.
        If all the prizes are delivered for all 3 rounds then the jackpot for the player with the most stars goes from {{engine.games[5].config["prize"]}} 
        <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin"> to {{ engine.games[5].config["prize"]+engine.games[5].config["bonus"] }} <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin">.
      </p>
      <p class="recap-txt">
        The following table shows the prizes chosen by each player at each round. The green prizes were chosen by a single player and the red ones where not delivered.
      </p>
      <table class="w3-table w3-striped2 w3-xlarge w3-centered">
        <tr>
          <th>Participants</th>
          <th>Round 1</th>
          <th>Round 2</th>
          <th>Round 3</th>
        </tr>
        {% for player in engine.players %}
          <tr>
            <td>{{player.name}}</td>
            {% for i in range(3) %}
              {% set prizes = engine.games[4].current_prizes(i, 0) %}
              {% if prizes[engine.games[4].choices[i][player.ID]] == "star" %}
                <td class="{% if engine.games[4].winners[i][player.ID] == 1 %} green-light {% else %} red-light {% endif %}" ><i class="fa fa-star {% if engine.games[4].choices[i][player.ID] == prizes|length-3 %}w3-text-black{% elif engine.games[4].choices[i][player.ID] == prizes|length-2 %}w3-text-grey{% else %}w3-text-white{% endif %}" style="position:relative; top:2px;"></i></td>
              {% else %}
                <td class="{% if engine.games[4].winners[i][player.ID] == 1 %} green-light {% else %} red-light {% endif %}">{{prizes[engine.games[4].choices[i][player.ID]]}} <img src="/static/images/coin.png" class="coin" alt="Coin"></td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
   
  <div class="recap-div w3-white">
    <div class="recap-subdiv">
      <h2>Game 5</h2>
      <p class="recap-txt"  style="width:100%">
        At this point of the game the players had the choice to donate stars to each other. <br>
        This table shows how many stars each player had before and after the donation:
      </p>
      <table class="w3-table w3-striped w3-xlarge w3-centered">
        <tr>
          <th>Participants</th>
          <th>Before Donation</th>
          <th>After Donation</th>
        </tr>
        {% for player in engine.players %}
          <tr>
            <td>{{player.name}}</td>
            <td>{% for stars in range(engine.games[4].money_log[2][player.ID][1]) %}<i class="fa fa-star" style="position:relative; top:2px;"></i> {% endfor %}</td>
            <td>{% for stars in range(player.stars) %}<i class="fa fa-star" style="position:relative; top:2px;"></i> {% endfor %}</td>
          </tr>
        {% endfor %}
      </table>
      <p class="recap-txt">
        The player with the most stars was {{engine.games[5].master.name}}. He/she receives {{engine.games[5].jackpot}} <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin"> 
        but in order to keep at least part of this money he/she will need to find an agreement with the other players by making a monetary proposal to each of them.
        If the proposition is accepted by at least {{ (engine.players|length+1)//2 }} players then every player gets the offered money and {{engine.games[5].master.name}} gets the rest.
        If hoever the proposition is rejected by at least {{ (engine.players|length)//2 }} players then {{engine.games[5].master.name}} gets another chance to make a propositon. 
        If after 3 attempts no agreement is found, then the jackpot money is withdrawn from the Starmaster.
      </p>
      <p class="recap-txt"  style="width:100%">
        The folowing Table shows the offers made by {{engine.games[5].master.name}} and the decision of the other players to accept or decline them:
      </p>
      <table class="w3-table w3-striped w3-xlarge w3-centered">
        <tr>
          <th>Participants</th>
          <th>Round 1</th>
          <th>Round 2</th>
          <th>Round 3</th>
        </tr>
        {% for player in engine.games[5].other_players %}
        {% set p_id = loop.index0 %}
          <tr>
            <td>{{player.name}}</td>
            {% for i in range(3) %}
              <td>{{engine.games[5].propositions[i][p_id]}} <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin">  
              {% if engine.games[5].choices[i][p_id] == 0 %}
              <i class="fa fa-times-circle w3-text-red"></i>
              {% else %}
              <i class="fa fa-check-circle w3-text-green"></i>
              {% endif %}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <p class="recap-txt"  style="width:100%">
        The folowing Table shows the amount of money and stars owned by each player at the end of each game:
      </p>
      <table class="w3-table w3-striped w3-xlarge w3-centered" style="width:160%">
        <tr>
          <th>Participants</th>
          <th>Game 1</th>
          <th>Game 2</th>
          <th>Game 3</th>
          <th>Game 4</th>
          <th>Game 5</th>
        </tr>
        {% for player in engine.players %}
          <tr>
            <td>{{player.name}}</td>
            {% for i in range(5) %}
              <td>{{engine.games[i+1].money_log[2][player.ID][0] }}
              <img src="{{ url_for('static', filename='images/coin.png') }}" class="coin" alt="Coin"> {% if engine.games[i+1].money_log[2][player.ID][1] > 0 %} + 
              {{engine.games[i+1].money_log[2][player.ID][1]}}
              <i class="fa fa-star"></i> {% endif %} </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>

</html>