{% set game = engine.current_game %}
{% set page = engine.current_page %}
{% set stage = engine.current_stage %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2">
    <link rel="stylesheet" href="{{ url_for("static", filename="flouze.css") }}" type="text/css">
    <style>
      body, h1, h2, h3, h4, h5, h6  {
        font-family: 'Baloo 2', cursive;
      }
    </style>
    <link rel = "icon" href ="{{ url_for("static", filename="images/coin.png") }}" type = "image/x-icon">
    <title>Flouze-Admin</title>
  </head>
<body>
  <div style="display:flex; justify-content:space-evenly;">
    {% for player in engine.players %}
    <div class="w3-center w3-margin w3-xlarge" style="width:360px; background-color:{{ player.color }}">
      <p><b>{{ player.name }}</b></p>
      <div class="w3-row large">
        <div class="w3-half">
          {{ player.stars }} <i class="fa fa-star"></i><br>
        </div>
        <div class="w3-half">
          {{ player.flouze }} <img src="{{ url_for("static", filename="images/coin.png") }}" class="coin-medium" alt="Coin"><br>
          {% if stage[0] == 3 %}
            ({{ player.saved_flouze }} <img src="{{ url_for("static", filename="images/coin.png") }}" class="coin-medium" alt="Coin">)<br>
          {% endif %}
        </div>
      </div>
      <div class="w3-large w3-margin-left" style="text-align:left;">
        message :
      </div>
      <div class="w3-text-white w3-large" style="margin:0 16px 16px; background-color:{{ player.sec_color }}">
        {{ player.message }}
      </div>
      {% if stage[1] in [1, 2, 3] %}
        <div class="w3-white w3-center" style="margin: auto; border-radius:50%; width:44px; height:45px; font-size:34px!important;">
        {% if player.is_done %}
          <i class="fa fa-check-circle w3-text-green"></i>
        {% else %}
          <i class="fa fa-times-circle w3-text-red"></i>
        {% endif %}
        </div>
        choix : {{ player.choice }}
      {% endif %}
      {% if stage[0] in [2, 4] and "reveal" in page["url"] %}
        {% set reveal_state = game.current_reveal_state %}
        <form class="w3-center w3-margin w3-large" method="POST">
          <button name="reveal" value={{ player.ID }} type="submit" class="w3-button" style="background-color:{{ player.sec_color }}" {% if reveal_state[player.ID] %}disabled{% endif %}>Révéler</button>
        </form>
      {% endif %}
    </div>
    {% endfor %}
  </div>


  <div class="w3-row w3-margin">
    <div class="w3-left w3-large w3-light-gray w3-padding" style="width:40%">
      {% for i in range(20) %}
      {{ engine.logs[-i-1] }}<br>
      {% endfor %}
    </div>
    <div class="w3-rest">
      <form class="w3-center w3-xlarge" method="POST">
        <p>Page actuelle : {{ page["url"] }}</p>
        {% if engine.current_stage[1] == 0 %}
          <p>Explications</p>
          <p><button name="diapo" type="submit" class="w3-button w3-green w3-margin-right" value="precedant">Diapo précedante</button>
            <button name="diapo" type="submit" class="w3-button w3-green w3-margin-left" value="suivant">Diapo suivante</button></p>
        {% endif %}
        <p>Jeu {{ engine.current_stage[0] }}, manche {{ engine.current_stage[1] }}</p>
        <p><button name="page" type="submit" class="w3-button w3-red w3-margin" value="precedant">Page précedante</button>
          <button name="page" type="submit" class="w3-button w3-teal w3-margin" value="suivant">Page suivante</button></p>
        {% if engine.current_stage == (5, 1) and engine.current_page["phase"] == "proposition" %}
          {% for (_, (question, correct_answer)), player, answer, decision in zip(game.quiz, game.other_players, game.answers, game.is_answer_correct) %}
            {% if answer and decision == None %}
          {{question}}<br>
          {{player.name}} : {{answer}}<br>
          ({{correct_answer}})
          <p><button name="quiz" type="submit" class="w3-button w3-red w3-margin-right" value="rejeter{{ loop.index0 }}">Rejeter</button>
          <button name="quiz" type="submit" class="w3-button w3-teal w3-margin-left" value="valider{{ loop.index0 }}">Valider</button></p>
            {% endif %}
          {% endfor %}
        {% endif %}
      </form>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
   <script type="text/javascript" charset="utf-8">
     var socket = io();
     socket.on('connect', function() {
         socket.emit('give_identity', 'admin');
     });
     socket.on('refresh', function() {
         window.location = window.location;
     });
     function disableBack() { window.history.forward(); }
     setTimeout("disableBack()", 0);
     window.onunload = function () { null };
   </script>

  </body>
</html>
