<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2">
    <style>
      body, h1, h2, h3, h4, h5, h6  {
        font-family: 'Baloo 2', cursive;
      }
    </style>
    <link rel = "icon" href ="{{url_for('static', filename="images/coin.png")}}" type = "image/x-icon">
    <title>Flouze-Admin</title>
  </head>
<body>
  <div class="container" style="display:flex; justify-content:space-evenly;">
    {% for p in players %}
    <div class="container w3-center w3-margin-top" style="width:360px; background-color:{{p['color']}}">
      <p class="w3-xlarge"><b>{{p["name"]}}</b></p>
      <p class="w3-xlarge"><i class="fa fa-star"> {{p["stars"]}}</i></p>
      <p class="w3-xlarge">{{p["flouze"]}} <img src="{{url_for('static', filename="images/coin.png")}}" style="width:25px" alt="Coin"></p>
      {% if pages[iterator]['round'][0] == 3 %}
        <p class="w3-xlarge">({{p["flouze"]}} <img src="{{url_for('static', filename="images/coin.png")}}" style="width:25px" alt="Coin">)</p>
      {% endif %}
      <p class="w3-xlarge">choix : {{p["choix"]}}</p>
      <div class="w3-text-white w3-margin" style="background-color:{{p['secColor']}}">
        <p class="w3-large">message : {{p["message"]}}</p>
      </div>
      <p class="w3-xlarge">done : {{p["done"]}}</p>
    </div>
    {% endfor %}
  </div>
  <form class="w3-center" method="POST">
    <p>Page actuelle : {{pages[iterator]['url']}}</p>
    <p><button type="submit" class="w3-button w3-blue" name="boutton" value="page précedente">Page précedante</button>
      <button type="submit" class="w3-button w3-blue" name="boutton" value="page suivante">Page suivante</button></p>
  </form>

  <div class="w3-center">
    {% for i in range(imax) %}
    <p>{{log[-i-1]}}</p>
    {% endfor %}
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
   <script type="text/javascript" charset="utf-8">
     var socket = io();
     socket.on('changed', function() {
         window.location = window.location;
     });

     function disableBack() { window.history.forward(); }
     setTimeout("disableBack()", 0);
     window.onunload = function () { null };
   </script>

  </body>
</html>
