{% set game = engine.current_game %}
{% set config = game.config %}
{% extends "base.jinja" %}
{% block title %}Partager{% endblock %}
{% block content %}

  <div class="w3-card-4 w3-white w3-center animate__animated animate__fadeIn" style="min-width:270px">
  <header id="total" class="w3-container w3-text-white large w3-padding theme-dark-{{ game.game_nb }}">
      <img src="{{ url_for("static", filename="images/coin.png") }}" class="coin" alt="Coin"> à partager
  </header>
  {% if player.last_profit < 0 %}
  <i class="fa fa-info-circle w3-left w3-text-red" style="position:relative; top:20px; left:20px"></i>
  <div class="w3-text-red small" style="margin:5px 0 0 2em; width:12.5em">Votre demande peut être refusée par les joueurs</div>
  {% endif %}
  <form method="POST">
  {% for other_player in player.other_players %}
  <div class="{{ other_player.color['name'] }}-light flex-horizontal space-around w3-padding center-items margins-partager">
    <span style="width:5em"><b>{{ other_player.name }}</b></span>
    <input id=sent{{ loop.index0 }} onchange="update_rest()" name={{ other_player.name }} class="w3-input w3-border w3-round-large w3-center" value={{ player.last_profit // 5 }} type="number" style="width:5em; height:1.6em" required>
  </div>
  {% endfor %}
  <div class="{{ player.color['name'] }}-light flex-horizontal space-around w3-padding center-items margins-partager">
    <span style="width:5em;"><b>{{ player.name }}</b></span>
    <div id="rest" style="width:5em;"></div>
  </div>
    <button type="button" onclick="window.location.href='/'" class="w3-button w3-red" style="margin:10px">en fait non</button>
    <button type="submit" name="envoyer" value="{{ engine.get_nonce() }}" class="w3-button w3-text-white theme-dark-{{ game.game_nb }}" style="margin:10px;">{% if player.last_profit < 0 %}Réclamer{% else %}Envoyer{% endif %}</button>
</form>
  </div>

<script>
  var total = {{ player.last_profit }};
  document.getElementById('total').innerHTML = total + document.getElementById('total').innerHTML
  document.getElementById('sent0').value = Math.floor(total/5)
  document.getElementById('sent1').value = Math.floor(total/5)
  document.getElementById('sent2').value = Math.floor(total/5)
  document.getElementById('sent3').value = Math.floor(total/5)
  update_rest()
  function update_rest() {
    document.getElementById('rest').innerHTML = total -
                                                    document.getElementById('sent0').value -
                                                    document.getElementById('sent1').value -
                                                    document.getElementById('sent2').value -
                                                    document.getElementById('sent3').value + ' <img src="{{ url_for("static", filename="images/coin.png") }}" class="coin" alt="Coin">'
  }
</script>

{% endblock %}
