{% set game = engine.current_game %}
{% set config = game.config %}
{% extends "base.jinja" %}
{% block title %}Flouze - Jeu {{game.game_nb}}{% endblock %}
{% block stars_table %}{% if game.game_nb == 5 %}{% else %}{{ super() }}{% endif %}{% endblock %}
{% block donation_button %}{% if game.game_nb == 5 %}{% else %}{{ super() }}{% endif %}{% endblock %}
{% block content %}

<div class="w3-card-4 w3-center animate__animated animate__zoomIn theme-light-{{ game.game_nb }}">
  <div class="w3-container w3-text-white theme-dark-{{ game.game_nb }}" style="margin:10px">
    {{ config["title"] }}
  </div>
</div>
<iframe src="{{ url_for("static", filename="animations/Jeu%d.sozi.html" % game.game_nb) }}" class="anim" style="-webkit-backdrop-filter: blur(0.9vw); backdrop-filter: blur(0.9vw);" frameBorder="0" onload="var player = this.contentWindow.sozi.player; player.moveToFrame({{ game.frame_id }} % player.presentation.frames.length);">
  My Sozi presentation should play here.
</iframe>

{% endblock %}
{% block additionnal_script %}
    socket.on('move_to_frame', function(frame_id) {
        var frame = document.querySelector("iframe");
        if (frame == null) return;
        var player = frame.contentWindow.sozi.player;
        player.moveToFrame(frame_id % player.presentation.frames.length);
    });
{% endblock %}

