{% set game = engine.current_game %}
{% set config = game.config %}
{% extends "base.jinja" %}
{% block title %}Flouze - Jeu {{game.game_nb}}{% endblock %}
{% block donation_button %}{% if game.game_nb == 5 %}{% else %}{{ super() }}{% endif %}{% endblock %}
{% block content %}

<div class="w3-card-4 w3-center animate__animated animate__zoomIn" style="background-color:{{ config["theme_colors"][1] }}">
  <div class="w3-container w3-text-white" style="background-color:{{ config["theme_colors"][0] }}; margin:10px">
    {% if engine.current_game_nb == 1 %}
      <h2>Premier jeu</h2>
    {% elif engine.current_game_nb == 2 %}
      <h2>Deuxième jeu</h2>
    {% elif engine.current_game_nb == 3 %}
      <h2>Troisième jeu</h2>
    {% elif engine.current_game_nb == 4 %}
      <h2>Quatrième jeu</h2>
    {% elif engine.current_game_nb == 5 %}
      <h2>Cinquième jeu</h2>
    {% endif %}
  </div>
</div>
<iframe src="{{ url_for("static", filename="animations/Jeu%d.sozi.html" % game.game_nb) }}" style="width: 100%; flex-grow: 0.8" frameBorder="0" onload="var player = this.contentWindow.sozi.player; player.moveToFrame({{ game.frame_id }} % player.presentation.frames.length);">
  My Sozi presentation should play here.
</iframe>

{% endblock %}
